
*.pyc
commands/__pycache__/basewrapper.cpython-36.pyc
commands/__pycache__/botclever.cpython-36.pyc
commands/__pycache__/misc.cpython-36.pyc
commands/__pycache__/spotify.cpython-36.pyc
.idea/workspace.xml
.idea/DiscordBot.iml
.idea/DiscordBot.iml
.idea/workspace.xml
